<!-- About page --> {% extends 'base.html' %} {% load static %} {% block title %} About {% endblock title %} {% block content %} 
<div class="my_content">
  <div class="my_options col-xs-6 text-center">
    <div class="bg-white py-5 px-4">
      <img src="{% static 'images/profile.webp' %}" alt="profile photo" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
      <h4 class="mb-1">Jurica Puljiz</h4>
      <span class="font-italic text-muted">ESL teacher/instructor</span>
      <p>Versatile and experienced ESL teacher who knows how to tailor lessons to your needs</p>
      <p>Obtained MA degree in English Language and Literature in 2016 and further expanded my knowledge by completing CELTA course in 2020</p>
      <p>Worked with more than 10 different nationalities of students, from Latin America to Eastern Europe and Asia, and have more than 5 years of teaching experience</p>
    </div>
  </div>
</div>
<div class="my_options col-xs-6">
  <div class="bg-white py-5 px-4 text-center">
    <i class="fa fa-envelope fa-2x mb-3 text-secondary"></i>
    <h3 class="font-weight-light text-secondary">Contact me</h3>
    <p id="email" class="font-italic text-muted font-weight-light">lenglish.online.learning2022@gmail.com</p>
  </div>
</div>
<div class="my_options col-xs-6">
  <div class="bg-white py-5 px-4 text-center">
    <i class="fa fa-laptop fa-2x mb-3 text-secondary"></i>
    <h3 class="font-weight-light text-secondary">How does it work?</h3>
    <p>After purchasing the course/lesson you want, I will get in touch with you via email to organise the best suitable date and time for the lesson.</p>
    <p class="font-italic text-muted mb-4">If you don't have Zoom app, download it easily and for free!</p>
    <a href="https://zoom.us/download" target="_blank" rel="noopener" aria-label="Download Zoom app (opens in a new tab)" class="btn btn-outline-dark">Get Zoom</a>
  </div>
</div>
 {% endblock %}