<!-- Product detail page -->
{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %} {{ object.title }} {% endblock title %}

{% block content %}
{% load static %}
<div class="alert alert-secondary text-center mb-0" role="alert">
    <p class="fst-italic">Special offer this week! Redeem code <strong>EnglishOnly</strong> while shopping and get 5 EUR off from any order!</p>
  </div>
<section class="py-5">
    <div class="container px-5 px-lg-5 mt-5">
        <div class="row gx-3 gx-md-5 justify-content-center">
            <div class="col-md-4 mb-5">
            <!-- Product image-->
            <img id="productimage" class="card-img-top p-3 shadow-lg" src="{{ item.image.url }}" alt="product image" />
            </div>
                    <!-- Product details-->
                    <div class="col-md-8 mb-5">

                    <blockquote class="blockquote p-3 shadow-lg">
                      <h5 class="fw-bolder">{{ item.title }} | €{{ item.price|floatformat }}</h5>
                      <div><span class="text-center">{{ item.get_category_display }} | {{ item.get_label_display }}</span></div>
                      <p class="mb-0 mt-2 font-italic">{{ item.description }}</p>
                      <!-- Two aligned buttons -->
                      <div class="row">
                          <div class="col-sm-12 text-center">
                            <a class="btn btn-outline-dark mt-3" href="{% url 'baseapp:home' %}">Continue shopping</a>
                            <a class="btn btn-outline-dark mt-3" href="{{ item.get_add_to_cart }}">Add item to cart<i class="bi-cart-fill me-1"></i></a>
                           </div>
                      </div>
                  </blockquote>

                  <blockquote class="blockquote bg-light p-3 shadow-lg">
                  <h5 class="text-center">Leave a review:</h5>  
              <form method="post">
                <!-- A CSRF token is a secure random token that is used to prevent CSRF attacks. --> 
                {% csrf_token %} 
                <div class="form-group">
                  <p class="mb-0 mt-2 font-italic">{% render_field form.review_text class="form-control" placeholder="Your review here.." %}</p>
                </div>
                <!-- Only registered/logged in users can submit comments.--> 
                {% if user.is_authenticated %} 
                  <div class="control text-center">
                    <button class="btn btn-outline-dark mt-2">Submit</button>
                  </div>
              </form>
              </blockquote>
              <!-- Looping over reviews. --> 
              {% for review in item.reviews.all %}  
              <blockquote class="blockquote bg-light p-3 shadow rounded">
                <h4 class="text-center">Student | {{ user.get_username }}</h4>
                <div>
                  <small>{{ review.created_at|date:'d-m-Y H:i' }}</small>
                  <div>{{ review.review_text }}</div>
                  <!-- If user is logged in, user can edit or delete reviews via buttons below. --> 
                  {% if user.name == review.user %}
                      <!-- Two aligned buttons -->
                      <div class="row">
                        <div class="col-sm-12 text-center">
                          <a class="btn btn-outline-dark mt-3" href="{% url 'baseapp:editReview' review.id %}">Edit</a>
                          <a class="btn btn-outline-dark mt-3" href="{% url 'baseapp:deleteReview' review.id %}">Delete</a>
                         </div>
                    </div>
                  {% endif %}
                </div>
            </blockquote>

            {% endfor %} 

            {% else %}
              <!-- Message displayed for users who are not registered or logged in. -->
              <!-- Those potential users can login or register below. -->
              <p>You can't see or leave reviews if you are not a registered user. Don't have an account? Create one <a href="{% url 'account_signup' %}">Here</a>! </p>
              <p>You already have an account? Login <a href="{% url 'account_login' %}">Here</a>! </p>
            </div> 
            {% endif %}
      </section>

{% endblock %}


    

