<!-- Product detail page -->
{% extends 'base.html' %}

{% block title %} {{ object.title }} {% endblock title %}

{% block content %}
{% load static %}
<div class="alert alert-secondary text-center mb-0" role="alert">
    <p class="fst-italic">Special offer this week! Redeem code <strong>EnglishOnly</strong> while shopping and get 5 EUR off from any order!</p>
  </div>
<section class="py-5">
    <div class="container px-5 px-lg-5 mt-5">
        <div class="row gx-3 gx-md-5 justify-content-center">
            <div class="col-md-4 mb-5">
            <!-- Product image-->
            <img id="productimage" class="card-img-top p-3 shadow h-200" src="{{ object.image.url }}" alt="product image" />
            </div>
                    <!-- Product details-->
                    <div class="col-md-8 mb-5">
                    <blockquote class="blockquote bg-light p-3 shadow rounded">
                      <h5 class="fw-bolder">{{ item.title }} | €{{ item.price|floatformat }}</h5>
                      <div><span class="text-center">{{ item.get_category_display }} | {{ item.get_label_display }}</span></div>
                      <p class="mb-0 mt-2 font-italic">{{ item.description }}</p>
                      <!-- Two aligned buttons -->
                      <div class="row">
                          <div class="col-sm-12 text-center">
                            <a class="btn btn-outline-dark mt-3" href="{% url 'baseapp:home' %}">Continue shopping</a>
                            <a class="btn btn-outline-dark mt-3" href="{{ item.get_add_to_cart }}">Add item to cart<i class="bi-cart-fill me-1"></i></a>
                           </div>
                      </div>
                  </blockquote>
                </div>
            </div>
        </div>
</section>

{% endblock %}

    

