/* Basic general styling starts here */
body {
  margin: 0;
}
/* Hover effect for items on the home page */
.pcard:hover {
  transform: scale(1.1);
}
.pcard:hover {
  transform: scale(1.1);
}
.pcard {
  transition: transform 0.2s ease;
}
hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}
hr:not([size]) {
  height: 1px;
}
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
}
/* Image carousel style */
.carousel img {
  height: 500px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.carouselmodifier {
  height: 350px;
}
/* Style for image on product page */
#productimage {
  max-width: 100%;
}
/* Bootstrap toasts CSS adapted from BoutiqueAdo */
.message-container {
  position: fixed;
  top: 72px;
  right: 15px;
}
.custom-toast {
  overflow: visible;
  color: black;
}
.toast-capper {
  height: 3px;
}
/* Style for stripe widget */
#stripeBtnLabel {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-variant: normal;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  display: block;
}
#stripeBtn {
  border: none;
  border-radius: 4px;
  outline: none;
  text-decoration: none;
  color: #fff;
  background: #32325d;
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.025em;
  text-decoration: none;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  float: left;
  width: 100% 
}
button:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, .10), 0 3px 6px rgba(0, 0, 0, .08);
  background-color: #43458b;
}
.stripe-form {
  padding: 5px 30px;
}
#card-errors {
  height: 20px;
  padding: 4px 0;
  color: #fa755a;
}
.stripe-form-row {
  width: 100%;
  float: left;
  margin-top: 5px;
  margin-bottom: 5px;
}
.StripeElement {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}
.PrivateStripeElement {
  margin: 0px !important;
  padding: 0px !important;
  border: none !important;
  display: block !important;
  background: transparent !important;
  position: relative !important;
  opacity: 1 !important;
}
#iframe {
  border: none !important;
  margin: 0px !important;
  padding: 0px !important;
  width: 1px !important;
  min-width: 100% !important;
  overflow: hidden !important;
  display: block !important;
  height: 19.2px;
}
.PrivateStripeElement-input {
  border: none !important;
  display: block !important;
  position: absolute !important;
  height: 1px !important;
  top: 0px !important;
  left: 0px !important;
  padding: 0px !important;
  margin: 0px !important;
  width: 100% !important;
  opacity: 0 !important;
  background: transparent !important;
  pointer-events: none !important;
  font-size: 16px !important;
}

/* Table style for order summary page */
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #summarytable.table {
    word-wrap: break-word;
    font-size: 11px !important;
  }

  .td {
    font-size: 11px !important;
  }
}

/* Galaxy Fold fix for order summary page*/
@media(max-width: 320px){ 
    #summarytable {
    table-layout: fixed;
    word-wrap: break-word;
    font-size: 9px !important;
  }
  .table {
    font-size: 9px !important;
  }
}







