{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% load i18n %}

{% block head_title %}Sign Up{% endblock %}

{% block content %}

  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {% if form.errors %} 
    {% for field in form %} 
    {% for error in field.errors %} 
    <div class="alert alert-danger d-flex aligns-items-center justify-content-center">
          <strong>{{ error|escape }}</strong>
    </div> 
    {% endfor %} 
    {% endfor %} 
    {% endif %}
    
    <div class="mh-100 d-flex justify-content-center align-items-center">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-12 col-md-8 col-lg-6">
            <div class="card bg-white mb-4 mt-4">
              <div class="card-body p-5 shadow-lg">
                <div class="mb-3 mt-md-4">
                  <h2 class="fw-bold mb-2 text-uppercase text-center">CREATE YOUR ACCOUNT</h2>
                  <p class="mb-5 text-center">Please populate the fields below and sign up to create account.</p>
                  <div id="div_id_email" class="mb-3">
                    <label for="id_email" class="form-label requiredField">E-mail<span class="asteriskField">*</span></label>
                    <input type="email" name="email" placeholder="E-mail address" class="textinput textInput form-control" required id="id_email">
                  </div>
                  <div id="div_id_email2" class="mb-3">
                    <label for="id_email2" class="form-label requiredField">Confirm your e-mail address<span class="asteriskField">*</span></label>
                    <input type="email" name="email2" placeholder="E-mail address confirmation" class="textinput textInput form-control" required id="id_email2">
                  </div>
                  <div id="div_id_username" class="mb-3">
                  <label for="id_username" class="form-label requiredField">Username<span class="asteriskField">*</span></label>
                  <input type="text" name="username" placeholder="Username" autofocus="autofocus" minlength="4" maxlength="150" class="textinput textInput form-control" required id="id_username">
                  </div>
                  <div id="div_id_password1" class="mb-3">
                    <label for="id_password1" class="form-label requiredField">Password<span class="asteriskField">*</span></label>
                    <input type="password" name="password1" placeholder="Enter password" class="textinput textInput form-control" required id="id_password1">
                  </div>
                  <div id="div_id_password2" class="mb-3">
                    <label for="id_password2" class="form-label requiredField">Confirm your password<span class="asteriskField">*</span></label>
                    <input type="password" name="password2" placeholder="Confirm password" class="textinput textInput form-control" required id="id_password2">
                  </div>
                  <div class="d-grid">
                    <button class="btn btn-outline-dark" type="submit">{% trans "Sign Up" %}</button>
                  </div>
                </div>
                <div>
                  <p class="mb-0  text-center">Already have an account? <a href="{% url 'account_login' %}" class="text-secondary fw-bold">{% trans "Sign In" %}</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

{% endblock %}

