<!--Billing address page-->
{% extends 'base.html' %}
 
{% block title %} Billing address {% endblock title %}
 
{% block content %}
<!-- Coupon code message for users -->
<div class="alert alert-secondary text-center mb-0" role="alert">
   <p class="fst-italic">Special offer this week! Redeem code <strong>EnglishOnly</strong> while shopping and get 5 EUR off from any order!</p>
 </div>
<section class="py-5 container">
   <div class="row">
       <div class="col-md-8">
         <h4 class="text-center">Billing Address</h4>
         <form action="" method="post" autocomplete="off" class="container">
             {% csrf_token %}

             <div class="form-floating mb-3">
                {{ form.street_address }}
                <label for="floatingInput">Street and house number</label>
             </div>

             <div class="form-floating mb-3">
                {{ form.apartment_address }}
                <label for="floatingApartment">Apartment/House</label>
             </div>

             <div class="form-floating mb-3">
                {{ form.country }}
                 <div class="invalid-feedback">Please select a valid country</div>
                <label for="floatingSelect">Select country</label>
             </div>
             <div class="form-floating mb-3">
                {{ form.zip_code }}
                <label for="floatingZip">Zip code</label>
             </div>
 
                  <button class="btn btn-dark btn-lg btn-sm mb-1" type="submit">Continue to checkout</button>
           </form>
 
       </div>
       <!--Cart snippet-->
 
       <div class="col-md-4">
         {% include 'cart_snippet.html' %}
       </div>
 
   </div>
</section>
 
{% endblock %}