<!-- Checkout page --> 
{% extends 'base.html' %} {% load static %} {% block title %} Payment {% endblock title %} {% block content %} 
<section class="py-5 container">
  <div class="row">
    <div class="col-md-8">
      <h4 class="mb-4 text-center">Checkout</h4>
      <!--Card container -->
      <div class="new-card-form">
        <form action="." method="post" class="stripe-form" id="stripe-form"> 
          {% csrf_token %} 
          <div class="stripe-form-row" id="creditCard">
            <label class="stripeBtnLabel fw-bold"> Credit or Debit Card </label>
            <div id="card-element">
              <div>
                <iframe title="Secure payment input frame"></iframe>
                <input aria-hidden="true" aria-label="paymentinputframe" maxlength="1">
              </div>
            </div>
          </div>
          <!-- Submit payment -->
          <div class="stripe-form-row my-3">
            <button class="stripeBtn btn btn-md btn-warning">Submit Payment</button>
          </div>
          <!--Payment alerts -->
          <div id="card-errors" class="text-white" role="alert"></div>
        </form>
      </div>
    </div>
    <!--Cart snippet-->
    <div class="col-md-4"> {% include 'cart_snippet.html' %} </div>
  </div>
  <!--container-->
</section> 
{% endblock %}
<!-- Stripe JS--> 
{% block postloadjs %}
<!-- JS script -->
<script src="{% static 'js/stripe_elements.js' %}"></script> 
{% endblock %}