<!-- About page -->
{% extends 'base.html' %}
{% load static %}
{% block title %} About {% endblock title %}

{% block content %}

<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6 shadow-md">
        <h1 class="font-weight-light text">ABOUT ME</h1>
        <h2 class="lead text-muted mb-0">Your online teacher and instructor always here to help!</h2>
        <h2 class="lead text-muted mb-0">Experience, expertise, knowledge!</h2>
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img src="" alt="" class="img-fluid"></div>
    </div>
  </div>
</div>

<div class="bg-white py-5">
  <div class="container py-5">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-laptop fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">All classes are conducted fully online via Zoom link.</h2>
        <p>After you purchase the course/lesson you want, I will get in touch with you to organise the best suitable date and time for the lesson.</p>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="" alt="" class="img-fluid mb-4 mb-lg-0"></div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-5 px-5 mx-auto"><img src="" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      <div class="col-lg-6"><i class="fa fa-envelope fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Contact</h2>
        <p class="font-italic text-muted mb-4">Please contact me if you have any queries!</p><a href="{% url 'baseapp:contact' %}" class="btn btn-outline-dark" type="submit">Contact me</a>
      </div>
    </div>
  </div>
</div>


    <div class="row text-center">
      <!-- Cards for pictures and details -->
      <div class="col-xl-3 col-sm-6 mb-1">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'images/profile.jpg' %}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Jurica Puljiz</h5><span class="small text-uppercase text-muted">ESL teacher/instructor</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6 mb-1">
        <div class="bg-white rounded shadow-md py-5 px-4"><img src="{% static 'images/celta.jpeg' %}" alt="" width="150" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0"></h5><span class="small text-uppercase text-muted">CELTA course graduate (2020)</span>
          <p>CELTA from Cambridge is the most widely recognised English teaching qualification in the world.</p>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6 mb-1">
        <div class="bg-white rounded shadow-md py-5 px-4"><img src="{% static 'images/unizd.jpg' %}" alt="" width="150" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0"></h5><span class="small text-uppercase text-muted">MA degree in English Language and Literature (2016)</span>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6 mb-1">
        <div class="bg-white rounded shadow-md py-5 px-4"><img src="{% static 'images/teacherlogo.png' %}" alt="" width="150" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0"></h5><span class="small text-uppercase text-muted">More than 5 years of experience!</span>
          <p> I have worked with more than 10 different nationalities of students, from Latin America to Eastern Europe and Asia.
          </p>
        </div>
      </div>

      <!-- End-->

    </div>
  </div>
</div>


{% endblock %}