<!-- Product detail page -->
{% extends 'base.html' %}

{% block title %} {{ object.title }} {% endblock title %}

{% block content %}
{% load static %}
<section class="py-5">
    <div class="container px-5 px-lg-5 mt-5">
        <div class="row gx-4 gx-md-5 justify-content-center">
            <div class="col-md-4 mb-5">
                <!-- Product image-->
                <img id="productimage" class="card-img-top p-2 shadow h-200" src="{{ object.image.url }}" alt="product image" />
            </div>
                    <!-- Product details-->
                    <div class="col-md-8 mb-5">
                        <h4 class="fw-bolder">{{ item.title }}</h5>
                            <!-- Product price-->
                            <p>€{{ item.price|floatformat }}</p>

                            <span class="badge rounded-pill bg-info">{{ item.get_category_display }}</span>

                            <span class="badge rounded-pill bg-info">{{ item.get_label_display }}</span>

                            <p class="card shadow">{{ item.description }}</p>

                        <!-- Product actions -->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto me-4" href="{% url 'baseapp:home' %}">Continue shopping</a>
                            <a class="btn btn-outline-dark mt-auto" href="">Add to cart<i class="bi-cart-fill me-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

{% endblock %}

    

