{% extends 'base.html' %} {% block title %} Signup | {% endblock %} 
{% load crispy_forms_tags %} {% block content %}
{% load widget_tweaks %}
<!-- Register page -->
<div class="container">
  <div class="columns is-justify-content-center">
    <div class="column is-6-tablet is-5-desktop is-4-widescreen is-3-fullh">
      <form method="POST">
        <!-- A CSRF token is a secure random token that is used to prevent CSRF attacks. -->
        <!-- Error message field if user doesn't enter some of the inputs properly --> 
        {% csrf_token %} 
        <!-- Username input field -->
        <label class="is-block mb-4">
          <span class="is-block mb-2">First Name:</span> {% render_field form.first_name class="input" placeholder="firstname" %} 
        </label>
        <!-- Email address input -->
        <label class="is-block mb-4">
          <span class="is-block mb-2">Last Name:</span>
          <div>{% render_field form.last_name class="input" placeholder="lastname" %}</div>
        </label>
        <label class="is-block mb-4">
          <span class="is-block mb-2">Username:</span>
          <div>{% render_field form.username class="input" placeholder="username" %}</div>
        </label>
        <!-- Password field -->
        <label class="is-block mb-4">
          <span class="is-block mb-2">Email:</span>
          <div>{% render_field form.email class="input" placeholder="youremail" %}</div>
        </label>
        <!-- Password confirmation field -->
        <label class="is-block mb-4">
          <span class="is-block mb-2">Password:</span>
          <div>{% render_field form.password class="input" placeholder="password" %}</div>
        </label>
        <label class="is-block mb-4">
          <span class="is-block mb-2">Password Confirmation:</span>
          <div>{% render_field form.confirm_password class="input" placeholder="confirm password" %}</div>
        </label>
        <label class="is-block mb-4">
          <span class="is-block mb-2">Gender:</span>
          <div>{% render_field form.gender %}</div>
        </label>
        <!-- Register button  -->
        <div class="mb-4">
          <button type="submit" class="button is-warning px-4">Register</button>
        </div>
      </form>
      <!-- Login option for users who have account -->
      <p>You have an account? Please login <a href="{% url 'accounts:login' %}">Here</a>! </p>
    </div>
  </div>
</div>
{% endblock %}