<!-- Cart summary page -->
{% extends 'base.html' %}
{% load static %}
{% block title %} Summary {% endblock title %}

{% block content %}
<section class="py-5">
        <div class="container table-responsive">
            <h4>Order summary:</h4>
            <hr>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Item</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total price</th> 
                  </tr>
                </thead>
                <tbody>
                    {% for order_item in object.items.all %}
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ order_item.item.title }}</td>
                    <td>€{{ order_item.item.price|floatformat }}</td>
                    <td>
                        <a href="{% url 'baseapp:remove-item' order_item.item.slug %}"><i class="bi bi-dash-circle mr-2"></i></a>
                        {{ order_item.quantity }}
                        <a href="{% url 'baseapp:add-to-cart' order_item.item.slug %}"><i class="bi bi-plus-circle mr-2"></i></a>
                    </td>
                    <td>€{{ order_item.total_item_price|floatformat }}</td>
                  </tr>
                  {% endfor %}
                  <tr>
                    <td colspan="4"><b>Order total:</b></td>
                    <td><b>€{{ object.total_price|floatformat }}</b></td>
                  </tr>

                  <tr>
                    <td colspan="5"><a href="{% url 'baseapp:payment' %}" class="btn btn-warning float-end m-4">Proceed to checkout</a>
                    <a href="/" class="btn btn-info float-end m-4">Continue shopping</a>
                  </td>
                  </tr>


                </tbody>
              </table>
        </div>
</section>

{% endblock %}
